:root {
	--light1: #ECEFF4;
	--light2: #D8DEE9;
	--dark1: #2E3440;
	--dark2: #3B4252;
	--dark3: #434C5E;
	--warm1: #BF616A;
	--warm2: #D08770;
	--warm3: #EBCB8B;
	--cold1: #5E81AC;
	--font-color: #333;
	--light-font-color: #808080;
	--shadow: rgba(0,0,0,0.1);
	--font-sans: "Verdana", Sans-serif;
	--font-serif: "Cambria Math", serif;
}

body {
	margin: 0;
	color: var(--font-color);
	font-family: var(--font-sans);
	background-color: var(--light1);
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: var(--cold1);
}

h1 {
	font-weight: normal;
	color: var(--dark1);
}

h2 {
	font-weight: normal;
	color: var(--dark2);
}

h3 {
	color: var(--dark3);
}

p {
	font-family: var(--font-serif);
	font-size: 14pt;
	line-height: 1.75rem;
}

.container {
	display: flex;
	flex-flow: column;
	margin: auto;
	justify-content: center; 
	width: 50vw;
}

.inline-link {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
}

.spacer { 
	height: 5rem;
	margin: 0;
	padding: 0;
}

.box {
	width: 15vw;
	height: 15vw;
	min-width: 10rem;
	min-height: 10rem;
}

.box:hover {
	box-shadow: 0 0 5px rgba(0,0,0,.5);
	transition: box-shadow .5s; 
}

#splash {
	color: var(--light-accent);
	height: 35vh;
	display: flex;
	flex-flow: column;
	justify-content: center;
}

#splash > h2{
	color: var(--dark3) !important;
	opacity: .9;
	font-size: 14pt;
}

#about {
	background-color: var(--light2);
	display: flex;
	flex-flow: column;
	width: 100%;
	height: 55vh;
}

#about > .container {
	margin-top: 0vh;
}

#about > h1{
	font-size: 1.5rem;
}

#boxes {
	display: flex;
	flex-flow: row wrap;
	position: absolute;
	left: 25vw;
	bottom: 2.5vw;
}

#boxes > * {
	margin-right: 2.5vw;
}

#boxes > * > * {
	margin: 2rem;
}

#boxes > * > h1 {
	color: var(--light1);
	font-weight: bold;
	margin-bottom: 0;
}

#boxes > * > h3 {
	color: var(--light2);
	margin-top: 0;
}

#boxes > * > a {
	color: var(--light1);
	font-weight: bold;
	margin-bottom: 0;
	font-size: xx-large;
}

#git {
	background-color: var(--warm1);
} 

#linkedin {
	background-color: var(--warm2);
}

#mail {
	background-color: var(--warm3);
}

#projects h2 {
	font-weight: bold;
	color: var(--font-color);
	font-size: 1.4rem;
}

@media only screen and (max-width: 1600px) {
	.container {
		width: 60vw;
	}
}

@media only screen and (max-width: 1400px) {
	#boxes > * > h1, a {
		font-size: x-large;
	}
}

@media only screen and (max-width: 1200px) {
	#boxes > * > h3 {
		font-size: medium;
	}
}

@media only screen and (max-width: 1000px) {

	.container {
		width: 75vw;
	}
	#boxes {
		visibility: hidden;
	}
	#about {
		height: 100%;
		padding: 2rem 0;
	}
	#break {
		height: 0;
	}
} 

@media only screen and (max-width: 800px) {
	.spacer {
		height: 2rem;
	}
	#splash > *{
		margin: .5rem;
	}
	#splash > h1, #about > h1, #projects h1{
		font-size: 1.5rem;
	}
	h2 {
		font-size: 1.4rem;
	}
	h3 {
		font-size: 1.1rem !important; 
	}
	p {
		font-size: 12pt;
	}
	#splash {
		height: 100vh;
	}
} 