---
---

@import "minima";

body {
    font-family: Helvetica,arial,sans-serif !important;
    font-size: 14px !important;
}

h1 {
    font-size: 28px !important;
}

h2 {
    font-size: 24px !important;
}

.post-content h2 {
    border-bottom: 1px solid #ccc;
}

h3 {
    font-size: 18px !important;
}

hr {
    background: #ccc;
    height: 1px;
    border: 0;
    padding: 0;
    margin-bottom: 1em;
}

.site-header {
    padding-top: 5vh;
    border-top: 0;
}

.post-list-heading {
    border-bottom: 1px solid $grey-color-light;
}

.post-link {
    display: initial;
    font-size: 18px;
}

.home li {
    padding-left: 1rem;
}


.highlight, pre, code {
    background: #f3f3f3 !important;
}

pre, code {
    border: 1px solid #ddd;
}

blockquote {
    font-size: inherit;
    font-style: normal;
    letter-spacing: normal;
}

/* TOC */
.toc-container {
    position: fixed;
    top: 0;
    left: 0;
    height: -webkit-fill-available;
    height: -moz-available;
    min-height: 100vh;
    overflow-y: scroll;
    background: rgba(253, 253, 253, .75);
    backdrop-filter: blur(5px);
    border-right: 1px solid #ddd;
    z-index: 2;
    padding: 0;
    transition: all .5s;

    label {
        padding: 1rem;
        font-size: 24px;
    }

    label:hover {
        cursor: pointer;
    }

    input {
        display: none;
    }

    input ~ .toc{
        width: 0;
        visibility: hidden;
        margin-left: -100%;
    }

    input + label:after {
        content: "\02261";
    }

    input:checked ~ .toc{
        width: initial;
        visibility: visible;
        margin-left: 0;
    }

    input:checked + label:after {
        content: "\000D7"
    }

    .toc {
        padding: 1rem;
        max-width: 25vw;
        transition: margin-left .5s;
        overflow-x: hidden;
    }

    .toc li {
        list-style-type: none;
    }
    
    .toc ul {
        margin-left: 0;
    }

    @media (max-width: 900px) {
        display: none;
    }
}

/* Scrollbars */
*::-webkit-scrollbar {
    width: .5rem;
}
 
*::-webkit-scrollbar-track {
    opacity: 0;
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.2);
}
  
.toc-container::-webkit-scrollbar-thumb {
    display: none;
}

.toc-container::-webkit-scrollbar {
    width: 0;
}

/* Override menu button */
.site-nav {
    @include media-query($on-palm) {
        display: none;
    }
}